[submodule "config"]
	path = config
	url = H:\\works\\keica\\KcToolBox\\config
[submodule "source/python/KcHooks"]
	path = source/python/KcHooks
	url = H:\\works\\keica\\KcToolBox\\source\\python\\KcHooks
[submodule "source/python/KcTools/maya/KcImageMapper"]
	path = source/python/KcTools/maya/KcImageMapper
	url = H:\\works\\keica\\KcToolBox\\source\\python\\KcTools\\maya\\KcImageMapper
[submodule "source/python/KcTools/maya/KcMenu"]
	path = source/python/KcTools/maya/KcMenu
	url = H:\\works\\keica\\KcToolBox\\source\\python\\KcTools\\maya\\KcMenu
[submodule "source/python/KcLibs"]
	path = source/python/KcLibs
	url = H:\\works\\keica\\KcToolBox\\source\\python\\KcLibs
